<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/imgprofile.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}<br> {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Hola. Me llamo Brisa y soy una Full Stack Developer Jr.<br>Soy una joven proactiva que le gusta aprender y llevar a cabo nuevos retos.<br> Actualmente trabajo como repartidora en Pedidos YA</p>

        </span>
    </div>
</div> 
