<div class="row">
    <h1>Cursos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Curso 1</h1> - <h3>2021</h3>
            </li>
            <p>Curso de Peluqueria</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 2</h1> - <h3>2020</h3>
            </li>
            <p>Curso de Desarrollo Web en Fundacion Mediapila</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 3</h1> - <h3>2017</h3>
            </li>
            <p>Curso de Ingles</p>
        </ul>
        
    </div>

</div>
