<div class="row">
    <h1>Cursos</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Curso 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repudiandae veritatis, odio commodi, consequuntur voluptates labore nesciunt doloribus consequatur praesentium officia accusantium beatae nisi iste possimus saepe non fuga perspiciatis.</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repudiandae veritatis, odio commodi, consequuntur voluptates labore nesciunt doloribus consequatur praesentium officia accusantium beatae nisi iste possimus saepe non fuga perspiciatis.</p>
        </ul>
        <ul>
            <li>
                <h1>Curso 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia repudiandae veritatis, odio commodi, consequuntur voluptates labore nesciunt doloribus consequatur praesentium officia accusantium beatae nisi iste possimus saepe non fuga perspiciatis.</p>
        </ul>
        
    </div>

</div>
