<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/brisa-villca-130613" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://twitter.com/brisa_villca" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
                <a href="https://www.instagram.com/brisavillca/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
                <a href="https://github.com/brisavillca" target="_blank"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.facebook.com/brisavillca5813" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()"*ngIf="!isLogged">LOGIN</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">LOG OUT</button>
            </div>
        </div>
    </div>
</div>


